{% extends baseLayout %}
{% from components + "/search/macro.njk" import searchHeader %}
{% from components + "/pagination/macro.njk" import pagination %}
{% from "./components/filters/macro.njk" import searchFilters %}
{% from "./components/courseCard/macro.njk" import searchCard %}

{% set pageTitle = "Search (page " + pageModel.pagination.currentPage + " of " + pageModel.pagination.totalPages + ")" %}

{% block content %}
    <div class="container container--main">
        <div class="grid-row ">
            <div class="column-full no-border">
                {% set header %}
                    <h1 class="heading heading-large heading--flush">
                        Search Results
                    </h1>
                {% endset %}
                {{ searchHeader({
                    "headerHtml": header,
                    "searchBox": {
                        query: pageModel.query
                    }
                }) }}
            </div>
        </div>
        <div class="grid-row">
            <div class="column-one-third">

                {{ searchFilters({
                    "query": pageModel.query,
                    "filters": [
                        {
                            "id": "learning-type",
                            "name": "courseType",
                            "heading": "Learning type",
                            "items": pageModel.filters.selectedLearningTypes
                        },
                        {
                            "id": "cost",
                            "name": "cost",
                            "heading": "Cost",
                            "items": [
                                {
                                    "id": "cost",
                                    "value": "free",
                                    "label": "Show only free",
                                    "checked": pageModel.filters.showFree
                                }
                            ]
                        },
                        {
                            "id": "your-department",
                            "name": "department",
                            "heading": "Your department",
                            "items": pageModel.filters.userOrganisationalUnits
                        },
                        {
                            "id": "other-departments",
                            "name": "department",
                            "heading": "Other departments",
                            "items": pageModel.filters.otherOrganisationalUnits
                        },
                        {
                            "id": "your-areas-of-work",
                            "name": "areaOfWork",
                            "heading": "Your areas of work",
                            "items": pageModel.filters.userAreasOfWork
                        },
                        {
                            "id": "other-areas-of-work",
                            "name": "areaOfWork",
                            "heading": "Other areas of work",
                            "items": pageModel.filters.otherAreasOfWork
                        },
                        {
                            "id": "your-interests",
                            "name": "interest",
                            "heading": "Your interests",
                            "items": pageModel.filters.userInterests
                        },
                        {
                            "id": "other-interests",
                            "name": "interest",
                            "heading": "Other interests",
                            "items": pageModel.filters.otherInterests
                        }
                    ]
                }) }}

            </div>
            <div class="column-two-thirds">
                <div class="resources">
                    {% if pageModel.searchResults.length > 0 %}
                        <p class="lede search-lede" role="status">
                            {{ pageModel.pagination.total }} results found
                        </p>
                        {% for result in pageModel.searchResults %}
                            {{ searchCard(result) }}
                        {% endfor %}
                    {% else %}
                        <p class="zero-result lede"><strong>0</strong> results found</p>
                        <h2 class="heading-medium">Please try:</h2>
                        <ul class="no-results">
                            <li>searching again using different words</li>
                            <li>removing your filters</li>
                        </ul>
                        <h2 class="heading-medium">You can:</h2>
                        <ul class="no-results">
                            <li>view <a href="/course-catalogue">the course catalogue</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if pageModel.pagination.total > 0 %}
            {{ pagination(pageModel.pagination) }}
        {% endif %}
    </div>
{% endblock %}
