{% from "./components/categoryCard/macro.njk" import categoryCard %}
{% from "./components/categoryCourseDisplay/macro.njk" import categoryCourseDisplay %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "pagination/macro.njk" import govukPagination %}

{% extends "./baseLayout.njk" %}

{% set pageTitle = page.title %}

{% set navbarTab = "home" %}

{% block content %}
    {% set breadcrumbs = page.parents %}
    {% set breadcrumbs = (breadcrumbs.unshift({"href": NSG_ROUTER_BASE, "text": "Home"}), breadcrumbs) %}
    {% set breadcrumbs = (breadcrumbs.push({"text": page.title}), breadcrumbs) %}
    {{ govukBreadcrumbs({
        items: breadcrumbs,
        collapseOnMobile: true
    }) }}
    <h1 class='govuk-heading-l'>
        {{ page.title }}
    </h1>
    <p class='govuk-body category__description'>
        {{ page.description }}
    </p>
    <div class='category-card__container'>
        {% for category in page.categories %}
            {{ categoryCard({
                title: category.title,
                description: category.description,
                fullUrl: category.url,
                categories: category.categories
            }) }}
        {% endfor %}
    </div>
    {% if page.getRows().length > 0 %}
        {{ categoryCourseDisplay({
            rows: page.getRows()
        }) }}
        <div class='category__pagination'>
            <p class='govuk-body'>Showing {{ pagination.start }} – {{ pagination.end }} of {{ pagination.total }} items</p>
            {{ govukPagination({
                previous: {
                    href: pagination.prevLink
                },
                next: {
                    href: pagination.nextLink
                },
                items: pagination.numberedPages
            }) }}
        </div>
    {% endif %}
{% endblock %}