{% extends baseLayout %}
{% from components + "/search/macro.njk" import searchHeader %}
{% from components + "/banner/macro.njk" import renderBanners %}

{% set pageTitle = i18n('suggestions_page_title') %}

{% macro sectionRow(params, index) %}
    {% if params.courses | length > 0 %}
        <div class='grid-row'>
            <div class='column-full'>
                <h2 class='heading heading-medium lpg-suggestions-section heading--red-top heading--no-margin-top'>From {{ params.title }}</h2>
            </div>
        </div>
        {% for courseRow in params.courses | batch(3) %}
            <div class='grid-row grid-row--suggested'>
                {% for course in courseRow %}
                    <div class='column-third'>
                        <div class="tile">
                            <h3 class="heading-small">
                                <a href="/courses/{{ course.id }}">
                                    {{ course.title }}
                                </a>
                            </h3>
                            <ul class="tile__properties">
                                <li class="tile__property">
                                    <span class="tile__key">Type</span>
                                    <span class="tile__value">{{ i18n(course.type) }}</span>
                                </li>
                                {% if course.duration !== '0 minutes' %}
                                    <li class="tile__property">
                                        <span class="tile__key">Duration</span>
                                        <span class="tile__value">{{ course.duration }}</span>
                                    </li>
                                {% endif %}
                                <li class="tile__property">
                                    <span class="tile__key">Cost</span>
                                    <span class="tile__value">{%if course.costInPounds == undefined or course.costInPounds == 0 %}Free{% else %}&pound;{{ course.costInPounds + ' (ex VAT)' }}{% endif %}</span>
                                </li>
                                </ul>
                                <p class="tile__description">
                                    {{ course.shortDescription }}
                                </p>
                                <p class="tile__actions">
                                    <a href="/suggestions-for-you/add/{{ course.id }}">
                                        Add to learning plan<span class="visually-hidden">: {{ course.title }}</span>
                                    </a>
                                    <a href="/suggestions-for-you?delete={{ course.id }}">
                                        Remove <span class="visually-hidden">{{ course.title }} from suggested learning list</span>
                                    </a>
                                </p>
                            </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        {% if params.courses | length > 6 %}
            <p><a href="{{ params.url }}">Show all suggestions from {{ params.title }}</a></p>
        {% endif %}
    {% endif %}
{% endmacro %}

{% block content %}
    <div class="container container--main">
        <div class="grid-row ">
            <div class="column-full no-border">
                {% set header %}
                    <h1 class="heading heading-large heading--flush">
                        {{ pageTitle }}
                    </h1>
                {% endset %}
                {{ searchHeader({
                    "headerHtml": header,
                    "searchBox": {
                        query: pageModel.query
                    }
                }) }}
                <p class='govuk-body'>
                    Your suggestions are more accurate when you have an updated profile.
                </p>
                <div class="change-settings-container">
                    <p class="govuk-body">You can change the preferences in <a href="/profile">your profile page</a>.</p>
                </div>
                <h2 class='heading heading-medium'>Browse courses</h2>
                <div class='margin-bottom-5'>
                    <a class='section-link section-link--active' href='#'>Profile preferences</a>
                </div>
                {{ renderBanners(banners) }}
                {% for section in sections %}
                    {{ sectionRow(section, loop.index0) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}