{% from components + "/mojHeader/macro.njk" import mojHeader %}

{{ mojHeader({
    organisationLabel: {
        text: "GOV.UK",
        href: "https://gov.uk"
    },
    serviceLabel: {
        text: "Civil Service Learning",
        href: "/"
    },
    logotype: "crown"
}) }}

<div id="global-header-bar"></div>
<div class="phase-banner-container">
        <div class="phase-banner">
            <p><strong class="phase-tag">BETA</strong> Your <a href="{{ feedbackRoot }}" target="_blank" rel="noopener noreferrer" title="The Civil Service Learning feedback survey will open in another window">feedback</a> will help us to improve.</p>
        </div>
    </div>
<div class="content nav-container with-proposition">
    <div class="nav-content-container">
        <a href="#proposition-links" class="js-header-toggle menu"><span class="visually-hidden" id="visiblyHidden">Select to expand</span> Menu <span aria-hidden='true' class='menu__icon'>▼</span></a>
        {% include "./nav.njk" %}
    </div>
</div>
