{% from "./components/navbarLink.njk" import navbar %}

<nav id="proposition-menu">
    <ul id="proposition-links">
        {% if signedInUser.hasCompleteProfile() %}
            {% set tabs = [
                {"active": navbarTab == "home", "href": "/home", "text": "Home"},
                {"active": navbarTab == "course-catalogue", "href": "/course-catalogue", "text": i18n('course_catalogue_page_title')},
                {"active": navbarTab == "learning-record", "href": "/learning-record", "text": "Learning record"},
                {"active": navbarTab == "profile", "href": "/profile", "text": "Profile"}
            ] %}
            {% if signedInUser.isAdmin() %}
                {% set tabs = (tabs.push({"href": lpgManagementUrl + "/content-management", "text": "Admin"}), tabs) %}
            {% endif %}
            {% if signedInUser.isReporter() %}
                {% set tabs = (tabs.push({"href": lpgManagementUrl + "/reporting", "text": "Reporting"}), tabs) %}
            {% endif %}
            {% set tabs = (tabs.push({"href": "/sign-out", "text": "Sign out"}), tabs) %}
            {{ navbar({"links": tabs}) }}
        {% endif %}
    </ul>
</nav>
