{% macro phaseBanner(params) %}
<div class="phase-banner-container">
    <div class="phase-banner">
        <p><strong class="phase-tag">{{ params.tag }}</strong>{{ params.contentHtml | safe }}</p>
    </div>
</div>
{% endmacro %}