/* Global cookie message */

#global-cookie-message {
	width: 100%;
	background-color: $light-blue-25;
	padding-top: 10px;
	padding-bottom: 10px;
	p {
		@extend %site-width-container;
		@include core-16;
		margin-top: 0;
		margin-bottom: 0;
	}
}

a.menu {
	@include core-16;
	color: $black;
	display: block;
	float: right;
	text-decoration: none;
	padding-top: 6px;
	margin-right: 15px;
	font-weight: bold;
	position: relative;
	top: 5px;

	@include media(desktop) {
		display: none;
	}
	&:hover {
		text-decoration: underline;
	}
}
#proposition-menu {
	padding: 10px 0 0 0;
	border-bottom: none;
}

#proposition-link,
#proposition-links {
	@extend %contain-floats;
	padding: 0;
	list-style-type: none;

	.js-enabled & {
		display: none;
		@include media(desktop) {
			display: block;
		}
		&.js-visible {
			display: block;
		}
	}

	li {
		padding-left: 15px;
		margin-left: -15px;
		margin-bottom: 10px;
		float: left;
		clear: left;

		@include media(desktop) {
			float: left;
			clear: none;
			width: 50%;
			padding: 0;
			margin-bottom: 0;
			margin-left: 0;
			padding-bottom: 10px;
		}

		&:hover {
			color: $flash-message;
			border-left: 3px solid $flash-message;

			@include media(desktop) {
				border-bottom: 3px solid $flash-message;
				border-left: none;
				padding-bottom: 7px;
			}

			a {
				margin-left: -3px;

				@include media(desktop) {
					margin-left: 0;
				}
			}
		}

		&.active {
			border-left: 3px solid $flash-message;

			@include media(desktop) {
				border-bottom: 3px solid $flash-message;
				border-left: none;
				padding-bottom: 7px;
			}

			a {
				color: $flash-message;
				margin-left: -3px;

				@include media(desktop) {
					margin-left: 0;
				}
			}
		}

		@include media(desktop) {
			display: block;
			width: auto;
			border-bottom: 0;
			margin-right: 15px;
			font-weight: 700;
			color: #0b0c0c;
			&.clear-child {
				clear: left;
			}

			a {
				display: block;
			}
		}
	}

	a {
		color: $black;
		text-decoration: none;
		@include bold-16;
		padding-left: 15px;
		font-size: 16px;

		@include media(desktop) {
			@include bold-16;
			line-height: 23px;
			padding: 0;
		}

		&.active {
			color: $proposition-active-nav;
		}
		&:hover {
			color: $flash-message;
			text-decoration: none;
		}
	}
}

#proposition-link {
	float: right;
	line-height: 22px;
	.js-enabled & {
		display: block;
	}
	@include media(desktop) {
		float: none;
	}
}

@media screen and (min-width: 769px) {
	#global-header .header-wrapper .header-global .header-logo a .element-wrapper{
		display: flex;
		align-items: center;

		.service-name{
			margin-top: 0px;
			margin-left: 10px;
		}
	}


}

.nav-container {
	max-width: 100%;
	border-bottom: 1px solid $border;
	padding-bottom: 15px;
	background-color: #F3F2F1;
	padding: 9px 0;
	margin: 0;

	.nav-content-container{
		max-width: 960px;
		margin: 0 auto;
	}

	@include media(641px) {
		margin: 0 30px;
	}

	@include media(desktop) {
		border-bottom: none;
	}

	@include media(1020px) {
		margin: 0 auto;
	}
}

a.js-header-toggle.menu.js-hidden {
	display: block;

	@include media(desktop) {
		display: none;
	}
}

.menu__icon {
	font-size: 8px;
	height: 8px;
	padding-left: 2px;
	vertical-align: middle;
	display: inline-block;
}

.phase-tag
{
	background-color: #1d70b8 !important;
	padding: 4px 8px 1px 8px !important;
	margin-right: 10px !important;
}

.govuk-header__logotype-crown {
	display: inline-block;
	position: relative;
	margin-right: 2px;
	fill: currentcolor;
	vertical-align: top;
}