<Page title="Privacy" {_csrf}>
    <div class="container container--main">
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge">Civil Service Learning privacy notice</h1>

                <p>Updated 5th May 2026</p>

                <p>This notice sets out how we use your personal data, and your rights. It is made under Article 13 of the General Data Protection Regulation (GDPR).</p>

                <h2 class="heading-medium">1. Your data</h2>
                <h3 class="heading-small">1.1 The data</h3>
                <p>We process the following personal data:</p>
                <ul class="list-bullet">
                    <li>your personal contact details, for example, name, telephone number and email address</li>
                    <li>your manager’s personal contact details, for example, name and email address</li>
                    <li>your role assignment details, for example, grade, organisation, job role, location, qualifications, employment type, working pattern, profession and staff number</li>
                    <li>details relating to your use of the service, for example, the learning you’ve taken</li>
                    <li>your user feedback, for example, evaluation feedback that you’ve provided and survey responses</li>
                    <li>your personal information, for example, health (such as dietary requirements)</li>
                    <li>To support internal restructuring and improve strategic oversight, learner completion data is securely centralised within a Cabinet Office-managed platform known as the Government Resource Insights Database (GRID). This data is processed to generate high-level management information, monitor learning trends across government, and provide anonymised reporting to the Chief Operating Officer and Senior Leadership Teams within Government Skills.</li>
                </ul>

                <p>For communications, we process the following data:</p>
                <ul class="list-bullet">
                    <li>your name and email address</li>
                    <li>your organisation</li>
                </ul>

                <h3 class="heading-small">1.2 Purpose</h3>
                <p>We process your personal data to provide a platform for mandatory and optional learning services, and to tailor our learning products to you. This includes communicating with you about learning opportunities, tracking and responding to bookings, monitoring participation rates, providing management information to employer departments, functions and profession teams.</p>
                <p>We process data so that learning activities can be provided to you, whether face to face or online.</p>
                <p>We process your data to develop and improve our service, for example, through your feedback.</p>
                <p>We process your diversity data for making reasonable adjustments to ensure that you are able to take part in learning opportunities.</p>
                <p>The Cabinet Office and Government Ministers will have access to and will only use - your name, email address, organisation and grade data to periodically communicate on issues affecting the Civil Service in general.</p>

                <h3 class="heading-small">1.3 Legal basis of processing</h3>
                <p>The legal basis for processing your data is that it is necessary for the performance of a task, which is carried out in the public interest or in the exercise of official authority vested in the controller. In this case that is our function to provide the Civil Service with access to learning and development opportunities.</p>
                <p>We process your data on the legal basis that it is necessary, as part of your contract of employment, for us to provide you with access to learning and development opportunities.</p>
                <p>We process your data so that we can monitor your personal development and manage your performance as part of your employment contract.</p>
                <p>Public Task - The processing of completion of mandatory learning is a requirement of departments to ensure that civil servants have received the appropriate training for the data that they have exposure to.</p>
                <p><em>Sensitive personal data is personal data revealing racial or ethnic origin, political opinions, religious or philosophical beliefs, or trade union membership, and the processing of genetic data, biometric data for the purpose of uniquely identifying a natural person, data concerning health or data concerning a natural person’s sex life or sexual orientation.</em></p>
                <p>The legal basis for processing your sensitive personal data relating to disability and dietary requirements is it is necessary for the purposes of performing or exercising our obligations or rights as the controller, or the data subject’s obligations or rights, under employment law, social security law or the law relating to social protection, that is, public sector equality duty.</p>
                <p>The legal basis for processing your sensitive personal data relating to diversity characteristics is it relates to personal data which are manifestly made public by you, such as reasonable adjustments, that we require in order to ensure that you are able to take part in learning opportunities</p>
                <p>Processing is also of a specific category of personal data and it is necessary for the purposes of identifying or keeping under review the existence or absence of equality of opportunity or treatment between groups of people.</p>

                <h3 class="heading-small">1.4 Recipients</h3>
                <p>Personal data may be shared by the Cabinet Office with your department or function and with Civil Service profession teams.</p>
                <p>Your personal data will be stored on our IT infrastructure and will be shared with our data processors, these are:</p>
                <ul class="list-bullet">
                    <li>our IT providers who provide:
                        <ul class="list-bullet">
                            <li>email, document management and storage services</li>
                            <li>survey services</li>
                            <li>booking services</li>
                            <li>mailing list management services</li>
                        </ul>
                    </li>
                    <li>our learning suppliers, who provide us with learning products, coaching and services</li>
                    <li>our Apprenticeship Programme suppliers</li>
                    <li>our learning and IT providers, who provide support services</li>
                    <li>our learning and IT providers, client departments, who provide booking services</li>
                    <li>our learning and IT providers, who provide evaluation services</li>
                    <li>our IT providers and our learning providers, who provide management information reporting services</li>
                    <li>Your data is securely processed within the Cabinet Office cloud environment.</li>
                </ul>
                <p>Email addresses and names will be shared with the central communication team in government to enable sending of messages to all civil and public servants.</p>

                <h3 class="heading-small">1.5 Retention</h3>
                <p>If you have not accessed the Civil Service Learning (CSL) website for a minimum period of 13 months your learning record will be deactivated. Providing you can still access the email account shown in your profile you can request your account to be reactivated using the ‘forgotten your password’ link on the <a href="https://identity.learn.civilservice.gov.uk/login">sign in page</a>.</p>
                <p>If you have not accessed the CSL website for a total period of 2 years and 60 days, your personal data and learning record will be deleted.</p>
                <p>You can request your CSL account be deleted at any time by sending an email to <a href="mailto:support@governmentcampus.co.uk">support@governmentcampus.co.uk</a>.</p>
                <p>Your personal data will be shared by us with our 3rd-party suppliers, who will retain your data for the duration of our contract with them or according to the timescales provided above, whichever is sooner.</p>
                <p>Cabinet Office will also retain management information containing your data (including learning activities, bookings, etc ) for no more than 4 years after your account is deleted from the website. After this point it will be anonymised. Data may be retained by your department for the purposes of reporting beyond this period. Your personal data will be shared by us with our 3rd-party suppliers, who will retain your data for the duration of our contract with them or according to the timescales provided above, whichever is sooner.</p>

                <h2 class="heading-medium">2. Your rights</h2>
                <p>You have the right to:</p>
                <ul class="list-bullet">
                    <li>request information about how your personal data is processed, and to request a copy of that personal data</li>
                    <li>request that any inaccuracies in your personal data are rectified without delay</li>
                    <li>request that any incomplete personal data is completed, including by means of a supplementary statement</li>
                    <li>request that your personal data is erased if there is no longer a justification for it to be processed</li>
                    <li>in certain circumstances (for example, where accuracy is contested) to request that the processing of your personal data is restricted</li>
                    <li>object to the processing of your personal data where it is processed for direct marketing purposes</li>
                    <li>request a copy of any personal data you have provided, and for this to be provided in a structured, commonly used and machine-readable format</li>
                    <li>object to the processing of your personal data</li>
                </ul>

                <h2 class="heading-medium">3. YouTube APIs</h2>
                <p>The CSL website uses YouTube API services to host video-learning content. By using these services, you are agreeing to be bound by the YouTube Terms of Service (<a href="https://www.youtube.com/t/terms">https://www.youtube.com/t/terms</a>). You can find more information on the Google Privacy Policy at <a href="https://www.google.com/policies/privacy">https://www.google.com/policies/privacy</a>.</p>

                <h2 class="heading-medium">4. International transfers</h2>
                <p>Your personal data is stored on our IT infrastructure, and shared with our data processors, who provide email, document management and storage services to us. Your data may be held in the UK or in jurisdictions which have been granted data adequacy standards by the UK Government. Where that is the case it will be subject to equivalent legal protection through the use of model contract clauses.</p>
                <p>Your data will be shared with our IT suppliers who provide mailing list management and event booking services. Your data may be held in the UK or in jurisdictions which have been granted data adequacy standards by the UK Government. Where that is the case it will be subject to equivalent legal protection through the use of model contract clauses.</p>

                <h2 class="heading-medium">5. Complaints</h2>
                <p>If you consider that your personal data has been misused or mishandled, you may make a complaint to the Information Commissioner, who is an independent regulator. The Information Commissioner can be contacted at:</p>
                <p>Information Commissioner’s Office<br>
                    Wycliffe House<br>
                    Water Lane<br>
                    Wilmslow<br>
                    Cheshire<br>
                    SK9 5AF<br>
                    0303 123 1113<br>
                    Email: <a href="mailto:casework@ico.org.uk">casework@ico.org.uk</a></p>
                <p>Any complaint to the Information Commissioner is without prejudice to your right to seek redress through the courts.</p>

                <h2 class="heading-medium">6. Contact details</h2>
                <p>The data controller for your data will vary depending on the data being collected:</p>
                <ul class="list-bullet">
                    <li>the data controller for your profile, email services, evaluations, feedback, coaching and mentoring is the Cabinet Office</li>
                    <li>the Cabinet Office and the department that employs you are joint data controllers for your learning record, learning and development plans, bookings and management information</li>
                </ul>
                <p>The contact details for the lead data controller are:<br>
                    Government Skills Data Team<br>
                    Government People Group<br>
                    Cabinet Office<br>
                    1 Horse Guards Rd<br>
                    London<br>
                    SW1A 2HQ<br>
                    Email: <a href="mailto:GovSkillsData@cabinetoffice.gov.uk">GovSkillsData@cabinetoffice.gov.uk</a></p>
                <p>For queries about the CSL website itself, please contact:<br>
                    Learning Delivery Team, Government Skills and Curriculum Unit<br>
                    Civil Service HR<br>
                    Cabinet Office<br>
                    70 Whitehall<br>
                    London<br>
                    SW1A 2AS<br>
                    Email: <a href="mailto:support@governmentcampus.co.uk">support@governmentcampus.co.uk</a></p>
                <p>The contact details for the lead data controller’s data protection officer are:<br>
                    Stephen Jones<br>
                    Data Protection Officer<br>
                    Cabinet Office<br>
                    Room 405<br>
                    70 Whitehall<br>
                    London<br>
                    SW1A 2AS<br>
                    Email: <a href="mailto:dpo@cabinetoffice.gov.uk">dpo@cabinetoffice.gov.uk</a></p>
                <p>The data protection officer provides independent advice and monitoring of Cabinet Office’s use of personal information.</p>

                <h2 class="heading-medium">7. Changes to this privacy policy</h2>
                <p>If this privacy notice changes in any way, we will place an updated version on this page. Regularly reviewing this page ensures that you are always aware of what information we collect, how we use it and under what circumstances, we share it with other parties.</p>
            </div>
        </div>
    </div>
</Page>

<script>
    import Page from '../component/Page.html'

    export default {
        data() {
            return {
            }
        },

        components: {
            Page
        }
    }
</script>
